APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=smartface_db

JWT_SECRET=change_me
FACE_ENCRYPTION_KEY=change_me_32_chars
FACE_AI_URL=http://localhost:8000/recognize